@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.slider {
  background: transparent;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 10px;
  height: 130px;
  overflow: hidden;
  position: relative;
  width: 80%;
  display: flex;
  
  -webkit-mask-image: linear-gradient(to right, transparent 0%, black 10%, black 90%, transparent 100%);
  mask-image: linear-gradient(to right, transparent 0%, black 10%, black 90%, transparent 100%);
}



.slide-track {
  animation: scroll 20s linear infinite;
  display: flex;
  align-items: center;
  width: calc(150px * 10); /* 5 images × 2 */
}

.slide {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 150px;
}

.slide img {
  max-height: 70px;
  object-fit: contain;
}

