body {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-image: url('../public/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
  }
